{
    "presets": [
        [
            "@babel/preset-react",
            {
                "throwIfNamespace": false,
                "runtime": "automatic",
                "importSource": "custom-jsx-library"
            }
        ]
    ]
}
